<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf8">
	<title>PHPCheck{% if page.title %} &bull; {{ page.title }}{% endif %}</title>
	<link rel="stylesheet" href="/PHPCheck/assets/css/styles.css">
	<link rel="stylesheet" href="/PHPCheck/assets/css/highlight.css">
</head>
<body>
	<header>
		<h1><a href="/PHPCheck">PHPCheck</a></h1>
	</header>

	<div role="main" id="content">
		{% if page.title %}<h2>{{ page.title }}</h2>{% endif %}
		{{ content }}
	</div>

	<footer>
		<p>Copyright &copy; Callum Macrae 2012</p>
	</footer>

	<script src="/PHPCheck/assets/js/highlight.min.js"></script>
	<script type="text/javascript">
		hljs.initHighlightingOnLoad();
	</script>
</body>
</html>
